@CHARSET "UTF-8";

fieldset{
	margin-top:40px;
}
fieldset input{
	width:40px;
}

#gmap{
	display:none;
}

#funcs{
	margin-top:30px;

}

#manual{
	display:none;
	margin-top:30px;

}
#loading{
	display:none;
	margin-top:5px;
}

.block1{
	float:left;
	padding:5px;
}