demo1.html<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="google" content="notranslate" />
	 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Vue.jsの一覧表示、簡易検索、ソート</title>
	
	<link href="/note_prg/css/bootstrap.min.css" rel="stylesheet">
	<link href="/note_prg/css/common2.css" rel="stylesheet">

	<script src="/note_prg/js/jquery-1.11.1.min.js"></script>
	<script src="/note_prg/js/bootstrap.min.js"></script>
	<script src="../js/vue.min.js"></script>
	<script src="demo1.js"></script>

</head>
<body>

<div id="header" ><h1>Vue.jsの一覧表示、簡易検索、ソート</h1></div>
<div class="container">


Vue.jsの一覧表示デモ。<br>
簡易検索とソートもできる。簡易検索はDBを検索しているわけでなく、すでに画面表示されている一覧の中で検索する。
ソートも同様である。<br>
<br>

<br>

<div id="app-2">
	<input type="text" v-model="search_word" placeholder="簡易検索">
	<table class="table">
		<thead>
			<tr>
				<th v-for="(value, key) in clms"	@click="sort(key)">
					{{value}}
				</th>
			</tr>
		</thead>
		<tbody>
		<tr v-for="animal in filteredData">
			<td v-for="(value, key) in clms">{{animal[key]}}</td>
		</tr>
		</tbody>
	</table>
</div>






<div class="yohaku"></div>
<ol class="breadcrumb">
	<li><a href="/">ホーム</a></li>
	<li><a href="/sample">サンプルソースコード</a></li>
	<li><a href="/sample/js">JavaScript ｜ サンプル</a></li>
	<li><a href="../">Vue.jsのデモ | 目次</a></li>
	<li>Vue.jsの一覧表示、簡易検索、ソート</li>
</ol>
</div><!-- content -->
<div id="footer">(C) kenji uehara 2017-12-14</div>
</body>
</html>