<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="google" content="notranslate" />
   	<meta http-equiv="X-UA-Compatible" content="IE=edge">
   	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>セレクトボックスのチェンジイベント | SELECT onchange | ワクガンス</title>
	<link rel='shortcut icon' href='/home/images/favicon.ico' />
	
	<link href="/note_prg/css/bootstrap.min.css" rel="stylesheet">
	<link href="/note_prg/css/common2.css" rel="stylesheet">

	<script src="/note_prg/js/jquery3.js"></script>	<!-- jquery-3.3.1.min.js -->
	<script src="/note_prg/js/bootstrap.min.js"></script>
	<script src="../js/vue.min.js"></script>
	<script src="demo13.js"></script>
</head>
<body>
<div id="header" ><h1>セレクトボックスのチェンジイベント | SELECT onchange | ワクガンス</h1></div>
<div class="container">


<div id="app1">

<select v-model='cat_type' v-on:change="testChange('猫')">
	<option v-for="(value, key) in catTypeList" v-bind:value="key">{{value}}</option>
</select>
<div>{{res}}</div>



<div class="yohaku"></div>

<ol class="breadcrumb">
	<li><a href="/">ホーム</a></li>
	<li><a href="/sample">サンプルソースコード</a></li>
	<li><a href="/sample/js">JavaScript ｜ サンプル</a></li>
	<li>セレクトボックスのチェンジイベント | SELECT onchange</li>
</ol>
</div><!-- content -->
<div id="footer">(C) kenji uehara 2020-2-15</div>
</body>
</html>