<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="google" content="notranslate" />
	 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>vue.jsによるテーブル | 行中にセレクトボックスありｓ(SELECT要素)</title>
	
	<link href="/note_prg/css/bootstrap.min.css" rel="stylesheet">
	<link href="/note_prg/css/common2.css" rel="stylesheet">
	
	<script src="/note_prg/js/jquery3.js"></script>	<!-- jquery-3.3.1.min.js -->
	<script src="/note_prg/js/bootstrap.min.js"></script>
	<script src="vue.min.js"></script>

	<script src="demo10.js"></script>

</head>
<body>

<div id="header" ><h1>vue.jsによるテーブル | 行中にセレクトボックスありｓ(SELECT要素)</h1></div>
<div class="container">


<br>

<div id="app1">
	<table class="tbl2">
		<thaed>
			<tr><th>ID</th><th>名前</th><th>SELECT</th><th></th></tr>
		</thaed>
		<tbody>
			<tr v-for="(ent, index) in data">
				<td>{{ent.id}}</td>
				<td>{{ent.fish_name}}</td>
				<td>
					<select v-model="ent.fish_type">
						<option value="1">沖縄</option>
						<option value="2">山口</option>
						<option value="3">大間</option>
					</select>
				</td>
				<td><button v-on:click="deleteAction(index)" class="btn btn-danger btn-xs">削除</button></td>
			</tr>
		</tbody>
	</table>
	<input type="button" v-on:click="addAction()" value="追加" class="btn btn-success"/>
</div>







<div class="yohaku"></div>
<ol class="breadcrumb">
	<li><a href="/">ホーム</a></li>
	<li><a href="/sample">サンプルソースコード</a></li>
	<li><a href="/sample/js">JavaScript ｜ サンプル</a></li>
	<li><a href="../">Vue.jsのデモ | 目次</a></li>
	<li>vue.jsによるテーブル | 行中にセレクトボックスありｓ(SELECT要素)</li>
</ol>
</div><!-- content -->
<div id="footer">(C) kenji uehara 2020-2-13</div>
</body>
</html>